---
import "../styles/global.css";
import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<script
			src="https://beamanalytics.b-cdn.net/beam.min.js"
			data-token="50675678-96ee-4351-b4c4-85e82d66de94"
			async></script>
	</head>
	<body>
		<div
			class="flex flex-col w-full bg-background text-foreground antialiased"
		>
			<div class="min-h-svh w-full max-w-5xl mx-auto px-6">
				<slot />
			</div>
		</div>
	</body>
</html>
